<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Category | Time Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <h2 class="title-text">Time Tracker</h2>
    <form action="" method="POST">
        <h2>Create New Category</h2>
        <input type="text" placeholder="Category Name">
        <input type="text" placeholder="Category Keywords (ex. 'Mozilla Firefox, Google Chrome, Opera')">
        <input type="submit" value="Create">
    </form>
</body>
</html>