<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Category | Time Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style_phone.css') }}" media="screen and (max-width: 600px)">
    <script src="{{ url_for('static',filename='js/create-category.js') }}" async></script>
</head>
<body>
    <div class="wrapper">
        <div class="category-edit-box">
            <h2>Update Category</h2>
            <hr>
            <form action="#" method="POST" class="category-update-form">
                <p>Name: <input type="text" value="{{ category_name }}" class="category-name-input"></p>
                <p>Add keywords:</p>
                <textarea class="keywords-input" onkeypress="retrieveDataFromTextArea(event)" placeholder="Category Keywords &#10;(ex. Mozilla Firefox, Google Chrome)">
                    {% for keyword in keywords %}
                        {{ keyword }}, 
                    {% endfor %}
                </textarea>
                <div id="categories-tags-rows">
                    <div class="categories-tags"></div>
                </div>
                <input type="submit" id="send-data-btn" value="Update" class="submit-btn">
            </form>
        </div>
    </div>
</body>
</html>