<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style_phone.css') }}" media="screen and (max-width: 600px)">
</head>
<body>
    <h2 class="title-text">Time Tracker</h2>
    <div class="wrapper">
        <div class="graphs">
            {% for graph_file, graph_date in graph_data %}
            <div class="graph-box">
                <h2>{{ graph_date }}</h2>
                <img src="{{ url_for('static',filename=graph_file) }}"  class="time-percentage-img">
            </div>
            {% endfor %}
        </div>
        <img src="{{ url_for('static',filename='png/categories-legend.png') }}"  class="time-percentage-img">
    </div>
</body>
</html>