<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style_phone.css') }}" media="screen and (max-width: 600px)">
</head>
<body>
    <a href="./update" class="update-button">Update</a>
    <h2 class="title-text">Time Tracker</h2>
    <div class="wrapper">
        <div class="graphs">
            {% for i in range(arr_length) %}
            <div class="graph-box">
                <h2>{{ graph_dates[i] }}</h2>
                <img src="{{ url_for('static',filename=graph_files[i]) }}"  class="time-percentage-img">
                <div class="time-data-text">
                    {% for total_time_spend, name in  time_trackers_categories[i] %}
                        <h3>{{ total_time_spend }} - {{ name }}</h3>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <img src="{{ url_for('static',filename='png/categories-legend.png') }}"  class="time-percentage-img">
    </div>
</body>
</html>