*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat-Regular.ttf");
}

body{
    height: 90vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #2C3C4D;
    color: #eee;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

.title-text{
    font-size: 50px;
    margin: 50px 0px;
}

.wrapper{
    position: absolute;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
}

.wrapper .graphs{
    margin: 50px 0px;
    display: flex;
}

.wrapper .activity-list{
    text-align: left;
}

.wrapper .time-tracker-activities{
    margin: 20px 0px;
}