*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
}

body{
    height: 90vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #2C3C4D;
    color: #eee;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

.title-text{
    font-size: 50px;
    margin: 50px 0px;
}

.wrapper{
    position: absolute;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
}

.wrapper .graphs{
    margin: 50px 0px;
    display: flex;
}

.wrapper .activity-list{
    text-align: left;
}

.wrapper .time-tracker-activities{
    margin: 20px 0px;
}


.wrapper .category-create-form, .wrapper .category-update-form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.wrapper .category-create-form input[type="text"], .wrapper .category-create-form textarea, .wrapper .category-update-form input[type="text"], .wrapper .category-update-form textarea{
    margin: 10px;
    text-align: center;
    border: none;
    border-radius: 8px;
    resize: none;
}

.wrapper .category-create-form .category-name-input, .wrapper .category-update-form .category-name-input{
    width: 150px;
    height: 30px;
}

.wrapper .category-create-form .keywords-input, .wrapper .category-update-form .keywords-input{
    width: 300px;
    height: 85px;
    padding: 20px;
}

.wrapper .category-create-form .submit-btn, .wrapper .category-update-form .submit-btn{
    width: 100px;
    height: 45px;
    margin-top: 30px;
    border: none;
    border-radius: 8px;
    background-color:#99CC33;
    color: #2D3D0F;
    font-size: 14px;
}

.wrapper .category-create-form .submit-btn:hover, .wrapper .category-update-form .submit-btn:hover{
    background-color: #339900;
    color: #ccc;
    cursor: pointer;
}

.wrapper .categories-tags{
    margin-top: 10px;
    display: flex;
}

.wrapper .new-category-keyword-tag{
    display: flex;
    color: #ccc;
    background-color: #202d3b;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
}

.wrapper .new-category-keyword-tag .delete-btn{
    height: 100%;
    background-color: #1b2530;
    color: #fff;
    padding: 8px;
    font-size: 12px;
    border-top-left-radius: 5px;
}

.wrapper .new-category-keyword-tag:hover{
    cursor: pointer;
    background-color: #1b2530;
}

.wrapper .new-category-keyword-tag h5{
    padding: 7px 14px 7px 14px;
}

.warning-alert{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    text-align: center;
    background-color: #FFCC00;
    color: #332800;
    border-radius: 8px;
    opacity: 0%;
    animation: popup 4s ease-in-out;
}

@keyframes popup{
    0%{
        top: 0%;
        opacity: 0%;
    }
    25%{
        top: 5%;
        opacity: 100%;
    }
    75%{
        top: 5%;
        opacity: 100%;
    }
    100%{
        top: 0%;
        opacity: 0%;
    }
}

hr{
    color: #eee;
    margin: 20px;
}

.wrapper .category-edit-box .close-x{
    color: #eee;
    top: 10px;
    right: 15px;
    position: absolute;
}

.wrapper .category-edit-box .close-x:hover{
    cursor: pointer;
    color: #1b2530;
}

.wrapper .category-edit-box{
    padding: 50px;
    border-radius: 13px;
    position: absolute;
    border: 2px solid #1b2530;
    opacity: 1;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.wrapper .category-browse{
    display: flex;
}

.wrapper .time-data-text{
    text-align: left;
}

.update-button{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #99CC33;
    padding: 15px;
    border: 1px solid black;
    border-radius: 13px;
    color: #000;
}

.update-button:hover{
    cursor: pointer;
    background-color: #339900;
    color: #222;
}